@use "utilities/variables" as *;
@use 'pagesscs/contacto';
@use 'general/general';
@use 'general/header';
@use 'general/footer';
@use 'general/navbar';
@use 'pagesscs/store';
@use 'pagesscs/quinessomos';
@use 'general/mediaquery';