@use "utilities/variables" as *;
@use 'pagesscs/contacto';
@use 'general/general';
@use 'general/header';
@use 'general/footer';
@use 'general/navbar';
@use 'general/store';
@use 'general/quinessomos';
@use 'utilities/mediaquery';
@use 'general/galeria';