@use "../utilities/variables" as *;

@mixin flexbox($dir: row, $justify: center, $align: center, $wrap: wrap, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin text-block($max: $qs-max-text) {
  flex: 1;
  min-width: 280px;
  max-width: $max;
  margin: 0 auto;
}

@mixin media-block {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-iframe($max: $qs-max-media) {
  width: 100%;
  max-width: $max;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0;
}

@mixin mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

.quienessomos1 {
  @include flexbox(row, center, center, wrap, $qs-gap);
  margin-top: 100px;
}

.quienessomos2 {
  @include flexbox(row, center, center, wrap, $qs-gap);
}

.quienessomos3 {
  @include flexbox(row, center, center, wrap, $qs-gap);
  margin-top: 2px;
}
.qs-bloque {
  @include flexbox(row, center, center, wrap, $qs-gap);
  width: 100%;
}

.qs-texto {
  @include text-block($qs-max-text);
}
.qs-media,
.qs-med {
  @include media-block;
}
.qs-media iframe,
.qs-med iframe,
.videoquienessomos1 iframe,
.videoquienessomos iframe,
.direccionquienessomos3 iframe {
  @include responsive-iframe($qs-max-media);
}
.textoquienessomos1 p {
  margin: 0 auto;
  max-width: $qs-max-text;
}

.textoquienessomos2 {
  text-align: center;
  max-width: $qs-max-text;
  margin: 0 auto;
}

.textoquienessomos3 {
  text-align: center;
  padding-right: 20px;
  padding-top: 20px;
  max-width: $qs-max-text;
  margin: 0 auto;
}


.imagenquienessomos2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $qs-space;
  padding-left: $qs-space;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
#mult {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  height: auto;
}
.titulo-quienessosmos,
.titulo-quinessosmos {
  margin-bottom: 10px;
}

@include mobile {
  .qs-bloque {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .quienessomos1 {
    margin-top: 20px;
  }

  
  .qs-media iframe,
  .qs-med iframe,
  .videoquienessomos1 iframe,
  .videoquienessomos iframe,
  .direccionquienessomos3 iframe {
    max-width: 100%;
  }

  .imagenquienessomos2 {
    padding-left: 0;

    img {
      max-width: 100%;
    }
  }

  #mult {
    max-width: 100%;
  }
}