@use "../utilities/variables" as *;

footer {
  background-color: $fondo-header;
}

@mixin link {
  color: $color-link;
  text-decoration: $link-decoration;
  font-size: $link-font-size;
  transition: all 3s; /* INCLUSION TRANSITION */

  &:link {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

@mixin ftr($display, $flex-direction, $text-align, $margin, $padding) {
  display: flex;
  flex-direction: $flex-direction;
  text-align: $text-align;
  margin: $margin;
  padding: $padding;
}

footer {
  @include ftr(flex, column, left, 0, 20px);
}

@mixin nalink($font-size, $transform, $color) {
  font-size: $font-size;
  text-transform: $transform;
  color: $color;
}

.nav-link {
  @include nalink(16px, uppercase, black);
}

@mixin formlbl($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

.form-label {
  @include formlbl(12px, white);
}

.form-control::placeholder {
  color: $color-placeholder;
}

@mixin frmctrl(
  $background-color,
  $color,
  $border-style,
  $border-color,
  $border-radius,
  $width,
  $height,
  $text-align,
  $margin,
  $display
) {
  background-color: $background-color;
  color: $color;
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;
  width: $width;
  height: $height;
  text-align: $text-align;
  margin: $margin;
  display: $display;
}

.form-control {
  @include frmctrl(black, white, solid, white, 5px, 50%, 30px, center, 0, block);
}

@mixin btnprymr($bacground-color, $border-color, $color, $padding, $vorder-radius) {
  background-color: $bacground-color;
  border-color: $border-color;
  color: $color;
  padding: $padding;
  border-radius: $vorder-radius;
}

.btn-primary {
  @include btnprymr(#7C3AED, #7C3AED, white, 10px 25px, 8px);
}

@mixin lsm(
  $display,
  $flex-direction,
  $justify-content,
  $align-items,
  $flex-wrap,
  $margin-right
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  margin-right: $margin-right;
  transition: transform 0.6s ease; /* INCLUSION DE TRANSFORM, SCALE Y TRANSLATE */
}

.logossocialmedia {
  @include lsm(flex, row, flex-end, center, wrap, 19px);

  &:hover {
    transform: translate(3px, -3px) scale(1.05);
  }
}

@mixin form-center($max-width: 420px, $gap: 12px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  gap: $gap;
}

footer form {
  @include form-center(420px, 12px);
}

@mixin form-controls-full {
  width: 100%;
  box-sizing: border-box;
}

footer .form-control {
  @include form-controls-full;
}

@mixin boton(
  $background-color,
  $color,
  $border,
  $padding,
  $border-radius,
  $font-weight
) {
  background-color: $background-color;
  color: $color;
  border: $border;
  padding: $padding;
  border-radius: $border-radius;
  font-weight: $font-weight;
}

button {
  @include boton(#7C3AED, white, none, 10px 25px, 8px, bold);
}
