@use "../utilities/variables" as *;

@mixin logos-app($width, $height, $align) {
  width: $width;
  height: $height;
  text-align: $align;
}

.logos-ap {
  @include logos-app(50px, 50px, end);
}

header {
  background-color: $fondo-header; /*  INCLUSION DE VARIABLES  */
}

@mixin header1(
  $display,
  $flex-direction,
  $justify-content,
  $align-content,
  $align-items,
  $padding,
  $font-size,
  $flex-wrap
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-content: $align-content;
  align-items: $align-items;
  padding: $padding;
  font-size: $font-size;
  flex-wrap: $flex-wrap; /*  INCLUSION DE MIXIN  */
}

.header1 {
  @include header1(flex, row, flex-start, center, center, 30px, 20px, wrap);
}

@mixin hdr($display, $flex-direction, $text-align, $margin, $padding) {
  display: flex;
  flex-direction: $flex-direction;
  text-align: $text-align;
  margin: $margin;
  padding: $padding;
}

footer {
  @include hdr(flex, column, left, 0, 20px);
}

@mixin links($color, $text-decoration, $font-size) {
  color: $color;
  text-decoration: $text-decoration;
  font-size: $font-size;
}

a {
  @include links(rgb(255, 255, 255), underline, 20px);
}
