@use "../utilities/variables" as *;


@mixin titulares($transform, $font-size) {
  text-transform: $transform;
  font-size: $font-size;
}

.titulos {
  @include titulares(uppercase, 30px);
}

@mixin link {
  color: $color-link;
  text-decoration: $link-decoration;
  font-size: $link-font-size;

  &:link {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

a {
  @include link;
}


