@use "../utilities/variables" as *;

@mixin titulares($transform, $font-size) {
  text-transform: $transform;
  font-size: $font-size;
}

.titulos {
  @include titulares(uppercase, 30px);
}

@mixin link {
  color: $color-link;
  text-decoration: $link-decoration;
  font-size: $link-font-size;
  transition: all 3s; /* INCLUSION DE TRANSITION */

  &:link {
    color: $color-link;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

a {
  @include link;
}

@mixin mnb(
  $background-color,
  $padding-top,
  $padding-bottom,
  $text-align,
  $display,
  $justify-content,
  $width
) {
  background-color: $background-color;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  text-align: $text-align;
  display: $display;
  justify-content: $justify-content;
  width: $width;
}

.mi-navbar {
  @include mnb(rgb(100, 44, 44), 40px, 40px, center, flex, center, 100%);
}

.nav-link:hover {
  color: $navlinnkhover;
}

.nav-link {
  text-decoration: $navlinkk;
}

@mixin nb($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

.navbar-brand {
  @include nb(28px, bold);
}

#navbarSupportedContent {
  flex-grow: $nbsc;
}

@mixin nbn($display, $justify-content, $width, $gap) {
  display: $display;
  justify-content: $justify-content;
  width: $width;
  gap: $gap;
}

.navbar-nav {
  @include nbn(flex, center, 100%, 40px);
}
