@use "../utilities/variables" as *;

@media (max-width: 720px) {
  header {
    .header1 {
      flex-direction: column;
      text-align: left;
      margin: 0;
      padding: 20px;
    }
  }

  .articlespadre {
    flex-direction: column;
  }

  .texteframe {
    flex-direction: column;
  }

  .textframe {
    h3 {
      text-align: center;
    }
  }

  .imagenes {
    width: 100%;
    height: auto;
  }

  .articulos {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .frameindex {
    iframe {
      width: 100%;
      height: auto;
    }
  }

  .deportivo-contenedor,
  .deportivo-lado,
  .moda-contenedor,
  .moda-izquierda,
  .formulario-contactopag {
    flex-direction: column;
  }

  .qs-bloque {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .qs-media,
  .qs-iframe {
    width: 100%;
  }

  /* mapa mobile */
  #mult {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }

  /* imagen historia */
  .imagenquienessomos2 {
    width: 100%;
    height: auto;
    padding-left: 0;
  }
}
