$fondo-header: rgb(100, 44, 44);
$fondo-main: rgb(50, 49, 49);
$button-color: #682cd0;
$color-a-link: black;
$color-link-hover: whitesmoke;
$color-link: black;
$color-link-active: goldenrod;
$link-font-size: 20px;
$link-decoration: underline;
$color-placeholder: rgb(0, 0, 0);
$hr: 1px solid black;
$titulo-qsms: margin-bottom 10px;
$navlinnkhover:#ffffff;
$navlinkk: text-decoration underline;
$nbsc: flex-grow 1;
$bp-mobile: 720px;
$qs-max-text: 900px;
$qs-max-media: 560px;
$qs-gap: 24px;
$qs-space: 20px;

