$fondo-header: rgb(100, 44, 44);
$fondo-main: rgb(50, 49, 49);
$button-color: #682cd0;
$color-a-link: black;
$color-link-hover: whitesmoke;
$color-link: black;
$color-link-active: goldenrod;
$link-font-size: 20px;
$link-decoration: underline;
$color-placeholder: rgb(0, 0, 0);
$hr: 1px solid black;

