* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


.logos-ap {
    width: 50px;
    height: 50px;
    text-align: end;
}

.imagenes {
    width: 250px;
    height: 250px;
}

.articulos {
    border: 2px solid black;
    padding: 80px;
    margin: 10px;
    width: 400px;
    text-align: center;
    display: inline-block;
    
}
 #mult {
    width: 600px;
    height: 400px;
 }

 body {
    font-family: "Play", sans-serif;
    background-color:rgb(50, 49, 49); 
  color: white;
  width: 100%;
 }

 header, footer {
  background-color: rgb(100, 44, 44);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

main, section {
  background-color: rgb(50, 49, 49);
  padding: 20px;
}

article {
  background-color: rgb(50, 49, 49);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

button {
  background-color: #7C3AED;
  color: #EDEDED;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: underline;
  font-size: 20px;
}
a:link {
  color: black;
}


a:hover {
  color: whitesmoke;
}

a:active {
  color: goldenrod;
}

hr {
  border: 1px solid #3A3A3A;
}



.titulos {
  text-transform: uppercase;
  font-size: 30px;
}

.nz {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.price {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.texto {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}


  .header1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    flex-wrap: wrap;
  }


  .articlespadre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }

    .frameindex{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding-top: 15px;;
    }

    .textframe{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .texteframe{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    

    .logossocialmedia{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 20px;
    }

.quienessomos1{
  display: flex;
  flex-direction: row;
}

    .textoquienessomos1{
      margin: 10px;
    }

    .videoquienessomos{

      text-align: right;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      flex-wrap: wrap;
    }

    .titulo-quienessosmos{
      margin-bottom: 10px;
    }

    .quienessomos2{
      display: flex;
      flex-direction: row;
    }

    .textoquienessomos2{
      text-align: center;
    }

    .imagenquienessomos2{
      text-align: center;
      padding-top: 20px;
      padding-left: 20px;
    }

    .quienessomos3{
      display: flex;
      flex-direction: row;
    }

    .textoquienessomos3{
      text-align: center;
      padding-right: 20px;
      padding-top: 20px;
    }

    .direccionquienessomos3{
      text-align: center;
      padding-top: 20px;
    }

    
@media (max-width:720px){
  header .header1{
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 20px;
  }
  .articlespadre{
    flex-direction: column;
  }
  .texteframe{
    flex-direction: column;
  }
  .textframe h3{
    text-align: center;
  }
  .imagenes{
    width: 100%;
    height: auto;
  }
  .articulos{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .frameindex iframe{
    width: 100%;
    height: auto;
  }
  footer .header1{
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 20px;
  }
}

.mi-navbar {
  background-color: rgb(100, 44, 44);
  padding-top: 40px;   /* Ajusta la altura para que coincida con tu diseño */
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Links igual que en tu navbar original */
.nav-link {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.nav-link{
  text-decoration: underline;
}
.nav-link:hover {
  color: #ffffff;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

/* para que el contenedor de los links ocupe todo el ancho */
#navbarSupportedContent {
  flex-grow: 1;
}

/* centra los <li> del menú */
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;   
}

#emailHelp {
  color: white;
  font-size: 12px;
}

.form-control{
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  width: 50%;
  height: 30px;
  text-align: center;
   margin: 0 auto;      
  display: block;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-label{
  font-size: 12px;
  color: white;
}

.btn-primary {
  background-color: #7C3AED;
  border-color: #7C3AED;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}


